@tailwind base;
@tailwind components;
@tailwind utilities;
*
{
    margin: 0;
    padding: 0;
}
body
{
    background: linear-gradient(rgb(33, 1, 70),rgb(237, 2, 155),pink);
}
.card
{
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover; 
}